{% extends 'clientsApp/clientBase.html.twig' %}

{% block content %}
    {% if movies %}
        <div class="row pb-4 mt-0">
            <div class="h1 col-md">Obecnie w kinie:</div>
            <div class="col-md">
                <a href="{{ path('clients_app/movies/all') }}" class="btn btn-primary pull-right">
                    <i class="fa fa-th" aria-hidden="true"></i> Pokaż wszystkie filmy
                </a>
            </div>
        </div>
        <div class="row px-5">
            {% for movie in movies %}
                <a class="col-lg-3 col-sm-6 mb-2 p-2 text-dark hover"
                   href="{{ path('workers_app/movies/show', {'id': movie.id}) }}">
                    <div class="col-12">
                        <img src="{% if movie.plakat %}{{ asset('img/'~movie.plakat) }}{% else %}{{ asset('img/no_poster.jpg') }}{% endif %}"
                             class="img-fluid">
                    </div>
                    <div class="col-12 h5">{{ movie.tytul }} ({{ movie.datapremiery|date("Y") }})
                        {% if not movie.seansMaFilmy|length %} - wkrótce{% endif %}</div>
                </a>
            {% endfor %}
        </div>
        {% set basePath = path('clients_app/movies') %}
        {% include 'clientsApp/inc/pagination.html.twig' %}
    {% else %}
        <h1 class="text-center">Obecnie nic nie jest grane w kinie</h1>
        <div class="text-center display-1">
            <i class="fa fa-film" aria-hidden="true"></i>
        </div>
        <div class="mt-4 text-center">
            <a href="{{ path('clients_app/movies/all') }}" class="btn btn-primary">
                <i class="fa fa-th" aria-hidden="true"></i> Pokaż wszystkie filmy
            </a>
        </div>
    {% endif %}
{% endblock %}