{% extends 'clientsApp/clientBase.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/error_messages.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/form_invalid_func.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-9 pb-4 mt-0">
            <div class="h1 pb-3">Zmiana hasła</div>
            {{ form_start(form) }}
            <div class="mx-3">
                <div class="mx-3">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label required" for="stareHaslo">Stare hasło:</label>
                        <div class="col-sm-10 px-0">
                            <input type="password" id="stareHaslo" name="stareHaslo" required="required"
                                   class="form-control
                                    {% if error %}
                                           is-invalid
                                    {% endif %}
                                    " pattern="\S{8,64}"
                                   title="Dowolne znaki bez znaków białych, od 8 do 64 znaków."
                                   placeholder="Wprowadź stare hasło.." autocomplete="off">
                            <div class="invalid-feedback">
                                {% if error %}
                                <ul>
                                    <li>{{ error }}</li>
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ form_label(form.haslo.first) }}
                        <div class="col-sm-10 px-0">
                            {% if form.haslo.first.vars.errors|length > 0 %}
                                {{ form_widget(form.haslo.first, {'attr': {'class': 'is-invalid form-control'}}) }}
                            {% else %}
                                {{ form_widget(form.haslo.first) }}
                            {% endif %}
                            <div class="invalid-feedback">
                                {{ form_errors(form.haslo.first) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ form_label(form.haslo.second) }}
                        <div class="col-sm-10 px-0">
                            {% if form.haslo.first.vars.errors|length > 0 %}
                                {{ form_widget(form.haslo.second, {'attr': {'class': 'is-invalid form-control'}}) }}
                            {% else %}
                                {{ form_widget(form.haslo.second) }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="pull-right" style="margin-right: -15px">
                        {{ form_widget(form.save) }}
                    </div>
                    {{ form_end(form) }}
                    <a class="btn btn-secondary float-left" href="{{ path('clients_app/main_page') }}"
                       role="button">Wróć</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
