{% extends 'workersApp/workerBase.html.twig' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-9 ">
        <h1>Zmień hasło</h1><br>
        {{ form_start(form) }}
        <div class="form-group row">
            {{ form_label(form.haslo) }}
            <div class="col-sm-10">
                {{ form_widget(form.haslo) }}
            </div>
        </div>
        {{ form_end(form) }}
        <a class="btn btn-primary" href="{{ path('workers_app/pracownicy/show',{"id":id}) }}" role="button">Wróć</a>
    </div>
</div>


{% endblock %}
